@mixin characterContainerMixin ($theme: #f1f1f1) {
  background-color: $theme;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px 8px;
  width: 180px;
}

.characterItemContainer {
  @include characterContainerMixin($theme: #f1f1f1);
}

.characterItemContainer-dark {
  @include characterContainerMixin($theme: #3e3d3d);
}

img {
  width: 60px;
}

.itemText {
  font-size: 18px;
  font-weight: bold;
  color: black
}

.itemText-dark {
  font-size: 18px;
  font-weight: bold;
  color: white
}